<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--<add key="eConnectionString" value="server=demo.sociosensalud.org.pe;uid=demo;pwd=123456;database=SEIS_PROYECTO"/>-->
    <add key="eConnectionString" value="server=demo.sociosensalud.org.pe;uid=demo;pwd=123456;database=SEIS_PROYECTO"/>
    <add key="eConnectionString1" value="server=demo.sociosensalud.org.pe;uid=demo;pwd=123456;database=SEIS_DATA"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>

  </system.web>

</configuration>
